<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1334,750}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big_num_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{486,1521},{48,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big_num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,65}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{419,1555},{26,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{555,1521},{48,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big_num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{40,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{609,1475},{40,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big_num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{559,1436},{48,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{571,1337},{48,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_num_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{609,1406},{48,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_num_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,65}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{671,1337},{48,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_num_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{621,1337},{48,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_num_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{659,1406},{48,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-layer-road_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,83}</string>
                <key>spriteSourceSize</key>
                <string>{82,83}</string>
                <key>textureRect</key>
                <string>{{475,1436},{82,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,94}</string>
                <key>spriteSourceSize</key>
                <string>{97,94}</string>
                <key>textureRect</key>
                <string>{{475,1337},{97,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_icon_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,54}</string>
                <key>spriteSourceSize</key>
                <string>{216,54}</string>
                <key>textureRect</key>
                <string>{{419,1337},{216,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,248}</string>
                <key>spriteSourceSize</key>
                <string>{416,248}</string>
                <key>textureRect</key>
                <string>{{1,1337},{416,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hetu.png</string>
            <key>size</key>
            <string>{752,1586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eccd25f0c83122dff13911d071d18a58:35630d342015052a11309ef0fbba518c:dd2d97c48a590b962fd65afb10b446ca$</string>
            <key>textureFileName</key>
            <string>hetu.png</string>
        </dict>
    </dict>
</plist>
