<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1334,750}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big_num_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{480,1533},{48,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big_num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,65}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{571,1406},{26,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{549,1533},{48,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big_num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{40,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{639,1475},{40,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big_num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{618,1521},{48,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big_num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{687,1337},{48,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_num_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{571,1337},{48,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_num_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,65}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{687,1517},{48,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_num_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{621,1337},{48,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_num_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,67}</string>
                <key>spriteSourceSize</key>
                <string>{48,67}</string>
                <key>textureRect</key>
                <string>{{687,1406},{48,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game-layer-road_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,83}</string>
                <key>spriteSourceSize</key>
                <string>{82,83}</string>
                <key>textureRect</key>
                <string>{{555,1436},{82,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,94}</string>
                <key>spriteSourceSize</key>
                <string>{97,94}</string>
                <key>textureRect</key>
                <string>{{475,1337},{97,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_icon_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,54}</string>
                <key>spriteSourceSize</key>
                <string>{216,54}</string>
                <key>textureRect</key>
                <string>{{419,1337},{216,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>level_icon_mark_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,95}</string>
                <key>spriteSourceSize</key>
                <string>{78,95}</string>
                <key>textureRect</key>
                <string>{{475,1436},{78,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,248}</string>
                <key>spriteSourceSize</key>
                <string>{416,248}</string>
                <key>textureRect</key>
                <string>{{1,1337},{416,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>webhao_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,59}</string>
                <key>spriteSourceSize</key>
                <string>{27,59}</string>
                <key>textureRect</key>
                <string>{{419,1555},{27,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hetu.png</string>
            <key>size</key>
            <string>{752,1586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b4e72d67c216cd663f8a9a58d6cdf64:fc4cce2532d9a41777c7fa7bbda6b7a7:dd2d97c48a590b962fd65afb10b446ca$</string>
            <key>textureFileName</key>
            <string>hetu.png</string>
        </dict>
    </dict>
</plist>
